<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.yeginkim.stockflow.drive-command</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/yeginkim/.stockflow-automation/drive_command_runner.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/yeginkim/.stockflow-automation</string>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/yeginkim/.stockflow-automation/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/yeginkim/.stockflow-automation/launchd.err.log</string>
  </dict>
</plist>
